<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block>
    <title>Free Snow Bootstrap Website Template | Home :: w3layouts</title>
    <link th:href="@{/css/bootstrap.css}" rel='stylesheet' type='text/css'/>
    <link th:href="@{/css/style.css}" rel='stylesheet' type='text/css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <script th:src="@{/js/jquery.min.js}"></script>
    <!--<script src="js/jquery.easydropdown.js"></script>-->
    <!--start slider -->
    <link rel="stylesheet" th:href="@{/css/fwslider.css}" media="all">
    <script th:src="@{/js/jquery-ui.min.js}"></script>
    <script th:src="@{/js/fwslider.js}"></script>
    <!--end slider -->

</th:block>