<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>
<div class="header">
    <th:block th:include="~{/fragments/navbar}"></th:block>
</div>
<div class="main">
    <div class="shop_top">
        <div class="container">
            <div class="col-md-6">
                <div class="login-page">
                    <h4 class="title">New Customers</h4>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                        ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
                        tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum
                        iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu
                        feugiat nulla facilisis</p>
                    <div class="button1">
                        <a href="/users/register"><input type="submit" name="Submit" value="Create an Account"></a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="login-title">
                    <h4 class="title">Registered Customers</h4>
                    <div id="loginbox" class="loginbox">
                        <form th:method="POST" th:action="@{/users/login}" name="login" id="login-form">
                            <fieldset class="input">
                                <p id="login-form-username">
                                    <label for="username">Username</label>
                                    <input id="username" type="text" name="username" class="inputbox" size="18"
                                           autocomplete="off">
                                </p>
                                <p id="login-form-password">
                                    <label for="password">Password</label>
                                    <input id="password" type="password" name="password" class="inputbox" size="18"
                                           autocomplete="off">
                                </p>
                                <div class="remember">
                                    <input type="submit" name="Submit" class="button" value="Login">
                                    <div class="clear"></div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <th:block th:include="~{/fragments/footer}"></th:block>
</div>
</body>
</html>