<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>
<div class="header">
    <th:block th:include="~{/fragments/navbar}"></th:block>
</div>
<div class="main">
    <div class="shop_top">
        <div class="container" th:object="${product}">
            <div class="row">
                <div class="offset-md-7 col-md-5">
                    <h1 th:text="'Board ' + *{productBrand} + ' ' + *{productModel} + '-' + *{productName}"></h1>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-7">
                    <a class="image-link" th:href="*{pictureUrl}">
                        <img class="text-left img-fluid" th:src="*{pictureUrl}" alt="Board"
                             style="max-width: 500px; width: 100%;">
                    </a>
                </div>
                <div class="col-md-3">
                    <div class="bg-light p-3 border border-secondary">
                        <form th:action="@{/cart/add}" th:method="post" th:object="${cartModel}">

                            <div class="form-group">
                                <p class="mb-0">Price</p>
                                <h3 th:text="${product.productPrice} + '$'"></h3>
                            </div>

                            <hr>
                            <div class="form-group" th:classappend="${#fields.hasErrors('boardSize')}? 'text-danger'">
                                <label for="select-sizes">Size:</label>
                                <br>
                                <select required id="select-sizes" name="boardSize" th:field="*{boardSize}">
                                    <option value="Select an option" disabled>Select an option</option>
                                    <th:block th:each="size : ${product.boardSize}">
                                        <option th:value="${size}" th:text="${size}"></option>
                                    </th:block>
                                </select>
                                <small th:each="error : ${#fields.errors('boardSize')}"
                                       th:utext="${error}  + '&lt;br /&gt;'"></small>
                            </div>
                            <div class="form-group" th:classappend="${#fields.hasErrors('quantity')}? 'text-danger'">
                                <label for="select-quantity">Quantity</label>
                                <br>
                                <input required type="number"
                                       step="1" min="1" max="100" value="1"
                                       id="select-quantity" name="quantity">
                                <small th:each="error : ${#fields.errors('quantity')}"
                                       th:utext="${error}  + '&lt;br /&gt;'"></small>
                            </div>
                            <hr>
                            <input type="hidden" name="id" th:value="${product.id}">
                            <div class="button-holder d-flex justify-content-center">
                                <button type="submit" class="btn btn-danger font-weight-bold">Add to cart</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div class="col-md-5">
                <div class="col-md-2">
                    <h4 class="text-center">Description</h4>
                    <div th:text="*{description}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<div class="footer">
    <th:block th:include="~{/fragments/footer}"></th:block>
</div>
</body>
<script>
    $('.collapse').collapse()
</script>
</html>